# c & vc
*.o
*.obj
*.elf
*.s
*.i
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.i*86
*.x86_64

# nodejs
*.pid
*.seed
.lock-wscript
node_modules
nodejs/node_modules/

# Visual Studio
c/vc/[Dd]ebug/
c/vc/[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.sln.docstates
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.pch
*.log
packages/


#unix network programing v3
c/unpv3/Make.defines
c/unpv3/Makefile
c/unpv3/config.h
c/unpv3/config.status
c/unpv3/build/
